<header>
  <h1>Name</h1>
  <nav>
    <a routerLink="home">home</a>
    <a routerLink="work">work</a>
    <a routerLink="about">about</a>
  </nav>
  <button (click)="mobileNavigation = !mobileNavigation" [ngClass]="{'active': mobileNavigation}">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<p>{{mobileNavigation}}</p>

<router-outlet></router-outlet>

<section id="mobileNav" [ngClass]="{'active': mobileNavigation}">
  <div class="container">
    <div class="background"></div>
    <div class="link-container">
      <a routerLink="imac"><span>iMac</span></a>
      <a routerLink="iphone"><span>iPhone</span></a>
      <a routerLink="ipad"><span>iPad</span></a>
      <a routerLink="watch"><span>Watch</span></a>
      <a routerLink="tv"><span>TV</span></a>
      <a routerLink="support"><span>Support</span></a>
    </div>
  </div>
</section>