<header #headerElem>
  <h1>Name</h1>
  <nav>
    <a routerLink="home">home</a>
    <a routerLink="work">work</a>
    <a routerLink="about">about</a>
  </nav>
  <button (click)="mobileNavigation = !mobileNavigation" [ngClass]="{'active': mobileNavigation}">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<p>{{mobileNavigation}}</p>

<router-outlet></router-outlet>

<section id="mobileNav" [ngClass]="{'active': mobileNavigation}">
  <div class="margin" [ngStyle]="{'height.px': headerOffset}"></div>
  <div class="mobileBackground"></div>
  <div class="mobileBackground"></div>
  <div class="container">
    <h1>Navigate</h1>
  </div>
</section>