header {
  padding: 2rem;

  top: 0;
  left: 0;
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 3;
  overflow: hidden;

  color: #fff;
  background-color: #721121;

  box-shadow: 0px 0px 8px 2px #000;
}

header h1 {
  font-family: 'Lobster', cursive;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.5rem;
}

nav a {
  text-transform: lowercase;
}

nav a::after {
  width: 100%;
  height: 1px;

  display: block;
  content: '';

  background-color: #fff;

  transition: all 150ms;
  transform: scaleX(0.25);
  transform-origin: left;
}

nav a:hover::after {
  transform: scaleX(1) translateY(-5px);
}

nav + button {
  width: 30px;
  height: 20px;

  display: none;
  align-items: center;
  justify-content: center;

  flex-flow: column;
  position: relative;
  cursor: pointer;
}

nav + button span {
  width: 30px;
  height: 4px;

  display: block;
  border-radius: 5px;

  position: absolute;

  background-color: #fff;
  transition: all 300ms;
}

nav + button span:nth-of-type(1){
  transform: translateY(-8px);
}
nav + button span:nth-of-type(2){
  position: static;
}
nav + button span:nth-of-type(3){
  transform: translateY(8px);
}

nav + button.active span:nth-of-type(1) {
  transform: translateY(0) rotate(45deg);
}
nav + button.active span:nth-of-type(2) {
  transform: translateY(0) rotate(-45deg);
}
nav + button.active span:nth-of-type(3) {
  transform: translateY(8px) translateX(100px);
}

#mobileNav {
  width: 100vw;
  height: 100vh;

  display: none;

  top: 0;
  left: 0;
  position: fixed;

  overflow: hidden;
  background-color: rgba(0,0,0, 0.9);

  transition: all 300ms;
  transform: translateX(-100%);
}


#mobileNav.active {
  transform: translateX(0);
}

#mobileNav .margin {
  width: 100%;
}


@media screen and (max-width: 780px) {

  nav {
    display: none;
  }

  nav + button {
    display: flex;
  }

  #mobileNav {
    display: block;
  }


}