@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins&display=swap" rel="stylesheet');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, video {
  max-width: 100%;
  max-height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;

  border: 0;
  outline: none;

  color: inherit;
  background-color: inherit;

  font-size: 1em;
  font-family: inherit !important;
}

button::-moz-focus-inner {
  border: 0;
}

section.content {
  padding: 2rem;
  color: #0e0e0e;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.content:nth-of-type(odd) {
  background-color: #f7f7f7;
}

/* section.content media {
  width: 280px
} */

section.content media img {
  width: 280px
}

@media screen and (max-width: 780px) {

  section.content {
    flex-flow: column
  }

}