@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins&display=swap" rel="stylesheet');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, video {
  max-width: 100%;
  max-height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;

  border: 0;
  outline: none;

  color: inherit;
  background-color: inherit;

  font-size: 1em;
  font-family: inherit !important;
}

button::-moz-focus-inner {
  border: 0;
}

section.content {
  padding: 2rem;
}