<section class="content">
  <div class="media">
    
  </div>
  <div class="body">
    <h1>Header 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in dolor metus. Fusce imperdiet eros quam, a faucibus enim laoreet vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eleifend est, a feugiat felis. In orci lectus, tincidunt vitae nulla vel, pharetra egestas leo. Maecenas quis lectus risus. Fusce aliquet ex a vehicula ultrices. Nulla nibh neque, hendrerit eget ipsum id, maximus vestibulum sapien. Fusce pellentesque sit amet odio ut commodo. Donec sed eleifend est, ut elementum neque. Cras quis lorem vitae metus egestas gravida sit amet lacinia nisl. Donec sit amet lacinia urna. Integer condimentum et metus nec efficitur.</p>
  </div>
</section>